################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE_082025/.vs/BE_082025/FileContentIndex
